# A simple deep neural network using python's deep learning package Keras to predict if a customer with specific characteristics will churn as client using an artificial neural network. Dieudonne Ouedraogo

# 1. Import the  necessary libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

Using TensorFlow backend.
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7
  return f(*args, **kwds)


# 2. Data Preprocessing

### Import the dataset

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [3]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

### locate the positions of the features to be used for the model

In [4]:
X = dataset.iloc[:, 3:13].values

In [5]:
type(X)

numpy.ndarray

### locate the position of the label or outcome /output

In [6]:
y = dataset.iloc[:, 13].values

### Encode the categorical data to numeric data;to feed the ANN, algorithms implemenation in sklearn and keras use numerics

In [7]:
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
#Remove dummie variable
X = X[:, 1:]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

### Splitting the dataset into the Training set and Test set

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

### Feature Scaling

In [9]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# 3. Build the neural network model

In [10]:
# Instantiation = Initialising the neural network object,it's a sequential model
classifier = Sequential()

### We have 11 features which are the input nodes, so input_dim =11: 
### We will add two hidden layers with 6 nodes each 
### We will use a relu activation function on those two hidden layer
### We need just one node as output node to represent the state of the churn, 1 or 0.
#### We will use sigmoid as activation function on this node
### We use adam optimizer and binary_crossentropy as the loss
### we train on batch size of 10 and run 50 epochs over the data.

In [11]:
# First hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

# Second hidden 
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Add the Output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

### Compiling and fitting the neural network

In [12]:
# binary_crossentropy loss function used when a binary output is expected
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy']) 

# Fit the classifier to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50
7500/7500 [==============================] - 1s 152us/step - loss: 0.4932 - acc: 0.7941
Epoch 2/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4325 - acc: 0.7947
Epoch 3/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4281 - acc: 0.7947
Epoch 4/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4236 - acc: 0.8043
Epoch 5/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4202 - acc: 0.8227
Epoch 6/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4179 - acc: 0.8259
Epoch 7/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4162 - acc: 0.8300
Epoch 8/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4152 - acc: 0.8320
Epoch 9/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4137 - acc: 0.8320
Epoch 10/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4127 - acc: 0.8331
Epoch 11/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4119 - acc: 0.8316
Epoch 12/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4113 - acc: 0.8335
Epoch 13/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4106 - acc: 0.8347
Epoch 14/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4093 - acc: 0.8339
Epoch 15/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4094 - acc: 0.8327
Epoch 16/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4091 - acc: 0.8347
Epoch 17/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4086 - acc: 0.8341
Epoch 18/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4085 - acc: 0.8332
Epoch 19/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4076 - acc: 0.8343
Epoch 20/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4077 - acc: 0.8340
Epoch 21/50
7500/7500 [==============================] - 1s 113us/step - loss: 0.4073 - acc: 0.8340
Epoch 22/50
7500/7500 [==============================] - 1s 114us/step - loss: 0.4068 - acc: 0.8348
Epoch 23/50
7500/7500 [==============================] - 1s 117us/step - loss: 0.4067 - acc: 0.8365
Epoch 24/50
7500/7500 [==============================] - 1s 114us/step - loss: 0.4065 - acc: 0.8347
Epoch 25/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4060 - acc: 0.8349
Epoch 26/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4052 - acc: 0.8344
Epoch 27/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4049 - acc: 0.8355
Epoch 28/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4053 - acc: 0.8345
Epoch 29/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4044 - acc: 0.8351
Epoch 30/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4045 - acc: 0.8340
Epoch 31/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4041 - acc: 0.8359
Epoch 32/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4039 - acc: 0.8327
Epoch 33/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4031 - acc: 0.8332
Epoch 34/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4028 - acc: 0.8352
Epoch 35/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.4031 - acc: 0.8337
Epoch 36/50
7500/7500 [==============================] - 1s 117us/step - loss: 0.4024 - acc: 0.8353
Epoch 37/50
7500/7500 [==============================] - 1s 121us/step - loss: 0.4021 - acc: 0.8336
Epoch 38/50
7500/7500 [==============================] - 1s 120us/step - loss: 0.4017 - acc: 0.8345
Epoch 39/50
7500/7500 [==============================] - 1s 116us/step - loss: 0.4013 - acc: 0.8356
Epoch 40/50
7500/7500 [==============================] - 1s 113us/step - loss: 0.4012 - acc: 0.8347
Epoch 41/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4000 - acc: 0.8352
Epoch 42/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.4002 - acc: 0.8339
Epoch 43/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3994 - acc: 0.8347
Epoch 44/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3994 - acc: 0.8348
Epoch 45/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3988 - acc: 0.8356
Epoch 46/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3991 - acc: 0.8343
Epoch 47/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3986 - acc: 0.8356
Epoch 48/50
7500/7500 [==============================] - 1s 111us/step - loss: 0.3984 - acc: 0.8344
Epoch 49/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.3982 - acc: 0.8355
Epoch 50/50
7500/7500 [==============================] - 1s 112us/step - loss: 0.3982 - acc: 0.8356

### predict and compute the confusion matrix

In [13]:
# Predict using the Test set 
y_pred = classifier.predict(X_test)

# Set up a treshold and filter who will leave or not
y_pred = (y_pred > 0.5)

# Compute the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1950,   53],
       [ 340,  157]])

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(y_test,y_pred)

0.8428